Assignment1/background.mp4
Computer_Vision_dataset
Week2/lena.png
week3/Moon.jpeg
week3/saltnpepper.png
week3/test
week4/Road.mp4
week5/adaptive_1.jpg
week5/adaptive.png
week5/finger_print.png
week5/test
project1/Road.mp4
project1/hello
colorful.jpg
project1/video.mp4
Week9/assets
Week9/DBs
Week9/query_image